# Backend API
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1

# App
NEXT_PUBLIC_APP_NAME=스네일 사장님

# OpenAPI docs (optional)
NEXT_PUBLIC_API_DOCS_URL=https://poi82999.github.io/snail_backend_specification/
